VITE_ENTRA_CLIENT_ID=00000000-0000-0000-0000-000000000000
VITE_ENTRA_AUTHORITY=https://login.microsoftonline.com/common
VITE_ENTRA_REDIRECT_URI=http://localhost:5173/
VITE_ENTRA_POST_LOGOUT_REDIRECT_URI=http://localhost:5173/
VITE_ENTRA_SCOPES=openid,profile,email
