.env
node_modules/
apps/*/node_modules/
apps/*/dist/
apps/server/data/*.sqlite
apps/server/data/*.sqlite-shm
apps/server/data/*.sqlite-wal
coverage/

# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
.tfvars
.tfvars.json
*.tfplan
