node_modules/
apps/*/node_modules/
apps/*/dist/
apps/server/data/*.sqlite
apps/server/data/*.sqlite-shm
apps/server/data/*.sqlite-wal
coverage/
.env

# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
.tfvars
.tfvars.json
